.container {
    width:600px;
    margin:0 auto;
}

.row {
    line-height:24pt;
    border: solid 1px black;
}

.row:nth-child(odd) {
    background: pink;
}

.row:nth-child(even) {
    background: lightblue;
}

h3 {
    line-height:36pt;
    font-weight:bold;
    color:blue;
}